body {background-color: #000}
	
	h20  { color: #0000FF;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 11px; align="justify"
	}
	h21  { color: #0000FF;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 10px;
	}
	h22  { color: #0000FF;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 12px;
	}
	h23  { color: #0000FF;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 15px;
	}
	h24  { color: #0000FF;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 11px;
	}
	h25  { color: #0000FF;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 34px;
	}
	h18  { color: #0000FF;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 12px;
	}
	h7  { color: #0000FF;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 12px;
	}
	h26  { color: #0000FF;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 111px;
	}
	h8  { color: #0000FF;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 11px;
	}
	h9  { color: #0000FF;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 54px;
	}
	h10  { color: #0000FF;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 28px;
	}
	h11 { color: #0000FF;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 11px;
	}
	h12  { color: #0000FF;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 18px;
	}
	h13  { color: #0000FF;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 49px;
	}
	h14  { color: #0000FF;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 18px;
	}
	h15  { color: #0000FF;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 19px;
	}
	h16  { color: #0000FF;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 31px;
	}
	h17  { color: #0000FF;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 18px;
	}
	h19  { color: #0000FF;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 19px;
	}
	