body {background-color: #fff}
	
	h20  { color:#180824;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 24px; align="justify"
	}
	h21  { color: #230824;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 31px;
	}
	h22  { color: #120824;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 16px;
	}
	h23  { color: #110824;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 15px;
	}
	h24  { color: #220824;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 30px;
	}
	h25  { color: #120824;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 16px;
	}
	h26  { color:#200824;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 27px;
	}
	h7  { color: #150824;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 20px;
	}
	h8  { color: #110824;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 15px;
	}
	h9  { color: #130824;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 18px;
	}
	h10  { color: #100824;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 14px;
	}
	h11 { color: #150824;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 21px;
	}
	h12  { color: #140824;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 19px;
	}
	h13  { color: #100824;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 14px;
	}
	h14  { color: #100824;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 14px;
	}
	h15  { color: #110824;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 15px;
	}
	h16  { color: #390824;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 52px;
	}
	h17  { color: #560824;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 75px;
	}
	h18  { color: #100824;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 14px;
	}
	h19  { color: #300824;
	 font-family:"Times New Roman", Times, serif;
	 font-size: 41px;
	}
	